# Python
__pycache__/
*.pyc
*.pyo
.DS_Store

# Virtual Environment
venv/
myenv/
.venv/

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
.mypy_cache/
.pytest_cache/
.hypothesis/